@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.jumbotron {
  background: url("./images/banner.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
}

h1 {
  font-size: 32px !important;
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 18px;
}

@media (min-width: 576px) {
  .jumbotron {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}
